<h1>Holy Macaroni!</h1>

<p> You, yes you <%= @user.name %>, are a true pioneer! </p>
<p>We are stoked you signed up with "wantyour.info" and we hope you have a great experience here. To get started all you need to do is follow the link on our Home Page titled <strong>"Create a Campaign"</strong> Then <b>title<b/> your invite with a fitting message. Use the <b>date<b/> field to tell people when your event will be held, or just use today's date if you are just updating your contacts. Add an <b>image</b> that will work well with your invite. <strong>And that's it!</strong></p>
<p>A link will be generated that you can share with your friends.</p>
<p>When someone follows the link, they will be led to the invite you created. Then they have just one simple step to follow. That step is entering their name, email, address and phone number. Once they submit, you are up to date!</p>

<p>Thanks again for using wantyour.info!</p>

<p> <%= @url %> </p>