<%= form_for(@contact) do |f| %>
  <div>
    <% if @contact.errors.any? %>
      <div id="error_explanation">
       
        <ul>
        <% @contact.errors.full_messages.each do |message| %>
          <li class="error"><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
<div class="top">
    <%= f.text_field :firstName, autofocus: true, :placeholder => "FIRST NAME" %>
    <%= f.text_field :lastName, :placeholder => "LAST NAME"%>
    <%= f.text_field :email, :placeholder => "EMAIL" %>
    <%= f.text_field :phone, :placeholder => "PHONE NUMBER" %>
    <%= f.text_field :address, :placeholder => "STREET ADDRESS" %>
    <%= f.text_field :suite, :placeholder => "SUITE" %>
    <%= f.text_field :city, :placeholder => "CITY" %>
    <%= f.text_field :state, :placeholder => "STATE" %>
    <%= f.text_field :zip, :placeholder => "ZIP" %>
    <%= hidden_field_tag :campaign_id, @CC_ID %>
</div> 
<div class="next"><%= image_submit_tag("next.png") %>
<div> 
<% end %>
