<div id="contact_wrapper">

<%= link_to image_tag("download.png") %> 
<%= link_to image_tag("printer.png"), :class => 'printer' %>

 <div class= "mute contact"> 
  <table>

    <tbody>
      <% @contacts.each do |contact| %>

          <tr>
            <td>
              <a><span><%= link_to 'Edit', edit_contact_path(contact) %></span></a> <span><a><%= link_to 'Delete', contact, method: :delete, data: { confirm: 'Are you sure?' } %></a></span>
              <br />
              <strong class="title"><span><%= contact.firstName %></span>
                <span><%= contact.lastName %></span></strong> <span><span class="sub_title"><%= contact.email %>
                <br />
                </span class="normal_text"><%= contact.phone %></span> 

                <span class="normal_text"><%= contact.address %>, <%= contact.suite %></span>
                <span class="normal_text"><%= contact.city %> <%= contact.state %> <%= contact.zip %></span>
                <br />
                <br />          
            </td>
          </tr>

      <% end %>
    </tbody>
  </table>
</div> 
  <br>
</div>
