<p id="notice"><%= notice %></p>

  <strong>Firstname:</strong>
  <%= @contact.firstName %>

  <strong>Lastname:</strong>
  <%= @contact.lastName %>

  <strong>Email:</strong>
  <%= @contact.email %>

  <strong>Phone:</strong>
  <%= @contact.phone %>

  <strong>Address:</strong>
  <%= @contact.address %>

  <strong>Suite:</strong>
  <%= @contact.suite %>

  <strong>City:</strong>
  <%= @contact.city %>

  <strong>State:</strong>
  <%= @contact.state %>

  <strong>Zip:</strong>
  <%= @contact.zip %>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<div class="back"><%= link_to image_submit_tag("back.png"), campaigns_path %></div>
