<div data-target=".navbar-custom" class="wrapper">
        <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>

            </div>
           
            <!--div class="collapse navbar-collapse navbar-left navbar-main-collapse">
                <ul class="nav navbar-nav">
                    
                    <li class="hidden">
                       <a href="#page-top"></a> 
                    </li>
                    <li>
                        <a> <%= link_to "Create a Campaign", new_campaign_path %></a>
                    </li>
                    <li>
                        <% if @current %>
                            <a><%= link_to "Log out", destroy_creator_session_path, method: :delete %></a>
                        <% else %>
                            <a><%= link_to "Log in", new_creator_session_path %></a>
                        <% end %>
                    </li>
                    <li class="page-scroll">
                        <a><%= link_to "Contact Us", "#contact" %></a>
                    </li>
                </ul>
            </div-->
            
        </div>
        
    </nav>

<!--     <section>
<div class="overlay">
<ul class="nav nav-tabs nav-justified" role="tablist">
  <li class="tabs">Step 1</li>
  <li class="tabs">Step 2</li>
  <li class="tabs">Step 3</li>
</ul>
</div>
</section> -->

    <section class="intro">
        <div class="intro-body"><h1 class="brand-heading">wantyour.info</h1>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        
                        <div ng-controller="GetStartedCtrl">
                            <script type="text/ng-template" id="myModalContent.html">
                                <span class="modal-header">
                                    <h3 class="modal-title">Learn about us!</h3>
                                </span>
                                <div class="modal-body">
                                <div id="sli1">
                                    <p>
                                        You're hosting an event...that's good.
                                    </p>
                                </div>
                                <div id="sli2">
                                    <p>
                                        You want to invite guests from all walks of life...that's even better.
                                    </p>
                                </div>
                                <div id="sli3">
                                    <p>
                                        You could follow standard procedure and email everyone asking for their updated addresses.
                                    </p>
                                </div>
                                <div id="sli4">
                                    <p>
                                        Oryou could create an event on Facebook...Those are always fun, right?
                                    </p>
                                </div>
                                <div id="sli5">
                                    <p>
                                        Oh, best yet...you could post something on your wall and ask people to reply with their current information. That wouldn't be painful at all, would it?
                                    </p>
                                </div>
                                <div id="sli6">
                                    <p>
                                        Until now, nothing has been as smooth and organized as wantyour.info
                                    </p>
                                </div>
                                <div id="sli7">
                                    <p>
                                        Invite, collect, and print, all from one spot. 
                                        Welcome to wantyour.info
                                    </p>
                                </div>
                                </div>
                                <span class="modal-footer">
                                        <button class="btn-warning" ng-click="cancel()">Close</button>
                                </span>
                            </script>
                            <div ng-click="open('lg')" popover="Want to learn more about 'wantyour.info?' Click me!" popover-trigger="mouseenter" class="logo"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 muted">
                <h2>Contact Us</h2>
                <p>Feel free to email us to provide feedback or with any questions...or if you just feel like saying hello!</p>
                <p>info@wantyour.info</p>
                <ul class="list-inline banner-social-buttons">
                    <li><a href="https://facebook.com/wantyourinfo" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                    </li>
                    <li><a href="https://twitter.com/wantyourinfo" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>
                    <li><a href="https://plus.google.com/wantyourinfo" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <a href="#" class="back-to-top">BACK TO TOP</a>
</div>