<div id="invite_wrapper" class="invite">
	<div class="invite_story"><%= @campaign.story %></div>
<br>
	<div class="invite_date"><%= @campaign.date_of %></div>
<br>
	<div class="invite_image">
		<%= image_tag @campaign.image %>
	</div>
	<div class="next">
	<%= link_to image_tag("next.png"), new_contact_id_path(@campaign) %>
	</div>
<br>
	
<br>
	<div class="invite_safety_wrapper">
		<p class="invite_safety">Rest assured that your information is safe.<br /> It will only be available to the party that sent you this request.</p>
	</div>
	<div class="invite_lock">
		<%= image_tag "lock_medium.png" %>
	</div>	
</div>