<div id="link_wrapper">
	<div>
		<div class="hero"></div>
	<div>
		<p class="congrats">Congratulations!</p><br />
		<span class="link_small_text">your invitation is ready to send</span>
		<br />
		<br />
		<span class="link_title">COPY AND PASTE THIS LINK</span>
		<p>localhost:3000/invite/<%=@link.id%></p>
		
  
  	</div>
  	</div>
  	<%= link_to image_tag("next.png"), contacts_path, :class => 'next' %>
</div>

