<div id="wrapper">
	<div class="hero_target"></div>
	
	<div class="center buffer">
		<div class="medium_text">THANK YOU!</div>
		<div class="small_text">Your information has been sent.</div>
		<br />
		<div class="medium_text">The bride and groom are registered at <strong>Target</strong></div>
		
	</div>
	<div class="buffer">
	<%= link_to image_tag("#{request.ssl? ? @image_domain_secure : @image_domain}crockpot.png", {:alt=>"Holy crap! It's a crockpot!", :title=>"Link title"}) , "http://www.target.com/p/crock-pot-6qt-cook-carry-slow-cooker/-/A-14216017#prodSlot=_1_9", :target => "_blank", :class => 'space' %>
	<%= link_to image_tag("#{request.ssl? ? @image_domain_secure : @image_domain}vacuum.png", {:alt=>"You're looking at a vacuum", :title=>"Link title"}) , "http://www.target.com/p/dyson-digital-slim-dc59-animal-cordless-stick-vacuum/-/A-15033642#prodSlot=medium_1_1&term=dyson", :target => "_blank", :class => 'space' %>
	<%= link_to image_tag("#{request.ssl? ? @image_domain_secure : @image_domain}table.png", {:alt=>"It's a table yo!", :title=>"Link title"}) , "http://www.target.com/p/threshold-simply-extraordinary-console-table/-/A-15222932#prodSlot=medium_1_15", :target => "_blank", :class => 'space' %>
	</div>
	<div class="buffer"></div>



</div>