<div id="wrapper">
	<div class="hero"></div>
	<div class="thankyou">THANK YOU!</div>
	<div class="small_text">Your information has been updated</div>
	<br>
	<div class="center">
		<div class="medium_text_red">Are you hosting an event?</div>
		<div class="medium_text_red">Request info now for free!</div>
	</div>
	
	<br>
	<br>
	<%= link_to 'Sign up to begin', new_creator_registration_path, :class => 'button' %>
	<br>
	<br>
<!-- <div class="bookmark"><%= link_to 'Bookmark this page for later' %></div>
<%= link_to image_submit_tag("bookmark.png"), campaigns_path %> -->

<%= link_to image_tag("next.png"), registry_path, :class => 'next' %>

</div>