<%= @current_id %>

<%= form_for(@campaign) do |f| %>
  <% if @campaign.errors.any? %>
    <div id="error_explanation" onclick="toggle_visibility('error_explanation');">
      <ul>
          <% @campaign.errors.full_messages.each do |message| %>
            <li class="error"><%= message %></li>
          <% end %>
      </ul>
    </div>
  <% end %>

  <!-- begins block for campaign form -->

   <div ng-controller="PopoverDemoCtrl">
    <br>


      <div popover="Add a message for your invitation here" popover-trigger="mouseenter">
        <%= f.text_field :story , :placeholder => " '' WE NEED YOUR ADDRESS '' " %>
      </div>

        <div popover="Now enter the date of your event" popover-trigger="mouseenter"><%= f.text_field :date_of , :placeholder => "MM / DD / YYYY" %>
      </div>

    <div popover="Click here to choose an image to upload" popover-trigger="mouseenter">
      <div id="slider-container">
          <%= image_tag 'slider-bg.png', :id => 'open-selector'%>
       </div>
       <%= image_preview(f) %>

    <%= f.file_field :image %>

  </div>

    <div class="next"><%= image_submit_tag("next.png") %></div>
    <%= f.hidden_field :image_cache %>   
<% end %>
</html>
