<div id="campaign_list_wrapper">
    
        <% @campaigns.each do |campaign| %>
          <div class="buffer">
          <span><%= link_to 'Edit', edit_campaign_path(campaign) %></span>
          <span><%= link_to 'Delete', campaign, method: :delete, data: { confirm: 'Are you sure?' } %></span>
        </div>
          <span class="title buffer"><%= campaign.story %></span>
        <% end %>
    <br />
<div class="next"><%= link_to image_submit_tag("next.png"), contacts_path(@contact)  %>
</div>