<div id="wrapper">
	<p id="notice"><%= notice %></p>
	  <%= @campaign.story %>
	  <%= @campaign.date_of %>
	  <%= @campaign.image %>
	  <%= link_to 'Edit', edit_campaign_path(@campaign) %> |
		<div class="back">
			<%= link_to image_submit_tag("back.png"), campaigns_path %>
		</div>
</div>