/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 
 *= require bootstrap
 *= require_tree .
 *= require_self
 */

@import url('http://fonts.googleapis.com/css?family=Quicksand:300, 400' rel='stylesheet' type='text/css');

#wrapper {

	position: fixed;
    top: 50%;
    left: 50%;
    width: 500px;
    margin-left: -250px;
    margin-top: -250px;
	font-family:  'Quicksand', sans-serif;
	font-weight: 300;
	padding-left: auto;
	padding-right: auto;
	height: 500px;
	text-align: center;
	box-shadow: .3px .3px .3px .3px rgba(0, 0, 0, .2);
}

.next {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.back {
    position: absolute;
    left: 10px;
    bottom: 10px;
}

.btn-warning {
    background:#1AB1E8;
}

.next:hover {
    background: #1AB1E8 url(/assets/button_background.png) no-repeat right top scroll;
}
.back:hover {
    background: #1AB1E8 url(/assets/button_background.png) no-repeat right top scroll;
}
.logo {
    width: 400px;
    height: 400px;
    margin-top: 15px;
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
    background: 0 0;
    background: url(/assets/intro-logo.png) no-repeat bottom center scroll;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.logo:hover,
.logo:focus {
    opacity: .9;
}

.back-to-top {
    position: fixed;
    bottom: 2em;
    right: 0px;
    text-decoration: none;
    font-family:  'Quicksand', sans-serif;
    font-weight: 400;
    color: #fff;
    background-color: rgba(31, 175, 229, 0.20);
    font-size: 14px;
    padding: 1em;
    
}

.back-to-top:hover {
    color: white;
    background-color: rgba(31, 175, 229, 0.80);
}

.invite_lock {
    position: absolute;
    left: 40px;
    bottom: 49px;
}
@media only screen and (max-width: 768px) {

    .next {
        position: absolute;
        right: 60px;
        bottom: 10px;
    }

    .back {
        position: absolute;
        left: 60px;
        bottom: 10px;
    }
    .invite_lock {
    position: absolute;
    left: 55px;
    bottom: 49px;
}
    .invite_safety {
    color: #ccc; 
    font-size: 12px; 
    text-align: center !important;
    bottom: 125px;
    width: 200px;
    margin: 0 auto;
    }
    #campaign_list_wrapper,
    #contact_wrapper {
        text-align: center;
    }

    .title{ 
    font-size: 18px;
    padding-left: 50px;
    padding-right: 50px;
    }

    .sub_title {
        font-size: 13px;
    }
    .contact table {
        text-align: center !important;
    }
    .normal_text {
        font-size: 11px;
    }
    .overlay {
        top: 90px;
    }

}

@media only screen and (max-width: 500px) {

    #wrapper,
    #invite_wrapper,
    #contact_wrapper,
    #campaign_list_wrapper,
    #campaign_wrapper {
        box-shadow: none;
    }

}
