#campaign_image {
	z-index: 3;
	opacity: .0;
    background-color: #000;
    width:142px;
    height:142px;
    border-radius:100px;
    overflow:hidden;
    line-height: 150px;
    position:absolute;
    top:182px;
    left:180px;
}

#img_prev {
	z-index: 0;
    width:136px;
    height:136px;
    border-radius: 100px;
    overflow: hidden;
    position:absolute;
    top:210px;
    left:182px;
    background-image: url(); 
}

.slider-input{
	z-index: 5;
}

#campaign_wrapper {
	position: fixed;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 500px;
    margin-left: -250px;
    margin-top: -250px;
	font-family:  'Quicksand', sans-serif;
	font-weight: 300;
	padding-left: auto;
	padding-right: auto;
	box-shadow: .3px .3px .3px .3px rgba(0, 0, 0, .2);
}

.campaign_text {
	font-size: 30px;
	color: #ccc;
	width: 500px;
}
#open-selector{
	z-index: 100;
}
.image-selector{
	z-index: 10;
	text-align: center;
	background-color: rgba(255,255,255,1) ;
	width:400px;
	height: 400px;
	overflow:auto;
	margin:0px auto;
	position: relative;
	top:-375px;
}
.remove_image{
	display:none;
	visibility: none;
}
.image-selector > img{
	margin:0;
	padding:0;
	width:95px;
	float:left;

}
#slider-container{
	background-image: url();
	background-repeat:no-repeat;
	background-position: center;
}