#campaign_list_wrapper {
	position: fixed;
    top: 50%;
    left: 50%;
    width: 500px;
    margin-left: -250px;
    margin-top: -250px;
	font-family:  'Quicksand', sans-serif;
	font-weight: 300;
	padding-left: auto;
	padding-right: auto;
	height: 500px;
	box-shadow: .3px .3px .3px .3px rgba(0, 0, 0, .2);
}

}
.campaign  a:hover{
	color:#1ab1e8;
}
.campaign .even{
	background-color: #fcfcfc;
}

span {
    margin: 0 10px;
}

span:first-of-type{
    margin-left: 0;
}

span:last-of-type{
    margin-right: 0;
}

.title {
	font-size: 25px;
	font-weight: 300;
	color: #404041;
	left: 25px;
}
.sub_title {
	font-size: 15px;
	font-weight: 400;
	color: #404041;
	text-align: right;
	word-spacing: 5;
}
















