#contact_wrapper {

	position: fixed;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 500px;
    margin-left: -250px;
    margin-top: -250px;
	font-family:  'Quicksand', sans-serif;
	font-weight: 400;
	padding-left: auto;
	padding-right: auto;
	min-height: 500px;
	/*text-align: center;*/
	box-shadow: .3px .3px .3px .3px rgba(0, 0, 0, .2);
	overflow: auto;
}

.mute {
	color:#ccc;
}
.contact table {
	margin: 5px auto;
	text-align: left;
 	border-collapse:collapse;
 	border-spacing:30px 10px;
}​​​​​​​​​​​​​

.contact tr{
	width:500px;
}

.contact td{
	width: 500px;
	padding: 10px 10px;
}
.contact  a:hover{
	color:#1ab1e8;
}
.contact .even{
	background-color: #fcfcfc;
}

span {
    margin: 0 10px;
}

span:first-of-type{
    margin-left: 0;
}

span:last-of-type{
    margin-right: 0;
}

.title {
	font-size: 25px;
	font-weight: 300;
	color: #404041;
}
.sub_title {
	font-size: 15px;
	font-weight: 400;
	color: #404041;
	text-align: right;
	word-spacing: 5;
}
#title {
	position: relative;
	text-align: center;
	top: 10%;
	margin-bottom: 0px;
	font-size: 25px;
	font-weight: 300;
	color: #404041;
}


















