.tag {
    width: 150px;
    height: 125px;
    position: absolute;
    right: 20%;
    padding-bottom: 25px;
    background: #1AB1E8 url(tag.png) no-repeat center;
    z-index: 9999;
    -webkit-box-shadow: 0px 2px 4px #ccc;
    -moz-box-shadow: 0px 2px 4px #ccc;
    box-shadow: 0px 2px 4px #ccc;
}

.button input {
    color: #fff;
    background-color: #1AB1E8;
    border: none;
    width: 250px;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.button input:hover {
    background-color: #e83b64;
}

.choose input{
    color: #fff;
    background-color: #1AB1E8;
    border: none;
    width: 250px;
    height: 50px;
}
.choose input:hover{
    color: #1AB1E8;
    border: 1px solid #1AB1E8;
    background-color: #fff;
}

.text {
    text-decoration: none;
    color: #343635;
}

textarea:focus,
input:focus,
input[type]:focus,
.uneditable-input:focus {   
    border-color: rgba(112, 112, 112, .15);
    box-shadow: 0 .3px .3px rgba(112, 112, 112, .15) 
    inset, 0 0 1px rgba(112, 112, 112, .15);
    outline: 0 none;
}


[placeholder]:focus::-webkit-input-placeholder {
  transition: opacity 0.5s 0.5s ease; 
  opacity: .2;
}

.muted {
    color: #ccc;
    font-family:  'Quicksand', sans-serif;
    font-weight: 300;
    padding: 15px;
    display: inline-block;
    text-align: center;
}

input#customId{
   background: #888 !important;
   border: none !important;
   color: #000 !important;
}

#campaign_story,
#creator_email,
#creator_password,
#creator_password_confirmation {
    font-size: 18px;
    text-align: center;
    padding: 2px;
    height: 50px;
    width: 450px;
    margin: 8px;
    border: none;

}
#campaign_date_of {
    font-size: 18px;
    text-align: center;
    padding: 5px;
    height: 50px;
    width: 200px;
    margin: 8px;
    border: none;

}

#contact_lastName,
#contact_firstName {
    text-align: center;
    font-size: 18px;
    padding: 2px;
    height: 50px;
    width: 225px;
    margin: 8px;
    border: 1px dashed #ccc;
}

#contact_address{
    font-size: 18px;
    text-align: center;
    padding: 2px;
    height: 50px;
    width: 375px;
    margin: 8px;
    border: 1px dashed #ccc;
}

#contact_phone{
    font-size: 18px;
    text-align: center;
    padding: 2px;
    height: 50px;
    width: 175px;
    margin: 8px;
    border: 1px dashed #ccc;
}

#contact_email{
    font-size: 18px;
    text-align: center;
    padding: 2px;
    height: 50px;
    width: 275px;
    margin: 8px;
    border: 1px dashed #ccc;
}
#contact_suite{
    font-size: 18px;
    text-align: center;
    padding: 2px;
    height: 50px;
    width: 75px;
    margin: 8px;
    border: 1px dashed #ccc;
}
#contact_city,
#contact_zip {
    font-size: 18px;
    text-align: center;
    padding: 2px;
    height: 50px;
    width: 175px;
    margin: 8px;
    border: 1px dashed #ccc;
}
#contact_state{
    font-size: 18px;
    text-align: center;
    padding: 2px;
    height: 50px;
    width: 80px;
    margin: 8px;
    border: 1px dashed #ccc;
}

.top {
    margin-top: 110px;
}

.error {
    color: #fff;
    font-family:  'Quicksand', sans-serif;
    font-weight: 300;
    font-size: 25px;
    line-height: 55px;
    padding: 25px;
    list-style: none;
}

#error_explanation {
    
    position: fixed;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 500px;
    margin-left: -250px;
    margin-top: -250px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: auto;
    padding-right: auto;
    text-align: center;
    z-index: 10; 
    background: #1AB1E8 url(/assets/close.png) no-repeat right top scroll;
    
}

.carrier-wave-field input {
    color: #fff;
    background-color: #1AB1E8;
    border: none;
    width: 250px;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#campaign_image {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px !important;
}

.ui-state-default, .ui-widget-content .ui-state-default {
    background-color: transparent;
    background-image: url(slider.png);
    background-repeat: no-repeat;
    background-position: 0% 0%;
    border: none;
    height: 260px;
}

.ui-slider-handle.is-active {
    background-image: url(slider.png);
}

@media only screen and (max-width: 768px) {


.tag {
    opacity: 0;
    -webkit-transition: opacity .3s ease;

}













