#invite_wrapper {
position: fixed;
top: 50%;
left: 50%;
width: 500px;
margin-left: -250px;
margin-top: -250px;
font-family:  'Quicksand', sans-serif;
font-weight: 300;
padding-left: auto;
padding-right: auto;
height: 500px;
box-shadow: .3px .3px .3px .3px rgba(0, 0, 0, .2);
}

.invite .invite_story{
color: #ccc; 
text-align: center; 
font-size: 30px;
margin-top: 35px;
} 

.invite_date {
color: #ccc;
text-align: center; 
font-size: 30px;
}

.invite_image {
text-align:center;
border: 10px solid;
border-color: #ccc;
border-radius: 8000px;
width: 200px;
height: 200px; 
margin: 0 auto;
overflow: hidden;
}


.invite_safety {
color: #ccc; 
font-size: 12px; 
text-align: center !important;
bottom: 125px;
width: 300px;
margin: 0 auto;
}

