body {
    width: 100%;
    height: 100%;
    font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #E83B64;
    background-color: #fff;

}

html {
    width: 100%;
    height: 100%;
}

.wrapper {
    width: 100%;
    height: 100%;
    margin: 0px;

}


h1 {
    margin: 0 0 35px;
    font-family: 'Lobster', cursive;
    font-weight: 400;
    letter-spacing: 1px;
    padding-top: 30px;
    padding-bottom: 40px;
    padding-left: 0;
    background-color: #1AB1E8;
    width: 100%;
    color: #fff;
}
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: #343635;
    text-align: center;
}

p {
    margin: 0 0 25px;
    font-size: 14px;
    line-height: 1.5;
    color: #343635;
}

@media(min-width:767px) {
    p {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }
}

a {
    color: #1AB1E8;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #1AB1FF;
}

.light {
    font-weight: 300;
}

.navbar {
    margin-bottom: 0;
    border-bottom: 5px solid rgba(255, 255, 255,.2);
    background-color: rgba(255, 255, 255,.6);
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    padding-top: 15px;
    padding-bottom: 35px;
}

.navbar-brand {
    font-weight: 700;
}

.navbar-brand:hover {
    color: #fff;
}

.navbar-brand:focus {
    outline: 0;
}

.navbar-custom a {
    color: #E83B64;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li.active {
    outline: 0;
    
    background-color: #fff;
}

.navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #E83B64;
}

.navbar-toggle:focus,
.navbar-toggle:active {
    outline: 0;
}

#sign-in{
    position: absolute;
    right:10px;
}
@media(min-width:767px) {

    .navbar {
        padding: 0px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        background-color: rgba(255, 255, 255,.4);
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
        background-color: #fff;
    }

    .navbar-custom.top-nav-collapse {
        border-bottom: 1px solid rgba(255, 255, 255,.8);
    }
}

.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #E83B64;
    background: url(/assets/intro-bg2.jpg) no-repeat bottom center scroll;
    background-color: #fff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro-body {
    display: table-cell;
    vertical-align: middle;
}

.brand-heading {
    font-size: 85px;
}

.intro-text {
    font-size: 18px;
}

@media(min-width:767px) {

    .intro {
        height: 100%;
        padding: 0;
    }

    .brand-heading {
        font-size: 90px;
        margin-top: 70px;
    }

    .intro-text {
        font-size: 25px;
    }
    .page-scroll .btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.page-scroll .btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {    
    0 {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {    
    0 {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}


}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 35px;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.logo {
    width: 400px;
    height: 400px;
    margin-top: 15px;
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
    background: 0 0;
    z-index: 9999;
    background: url(/assets/intro-logo.png) no-repeat bottom center scroll;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.logo:hover,
.logo:focus {
    opacity: .9;
}

.page-scroll .logo i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.page-scroll .logo:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {    
    0 {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {    
    0 {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

.content-section {
    padding-top: 200px;
    padding-bottom: 350px;
    -webkit-animation: fadein 2s; /* Safari and Chrome */
       -moz-animation: fadein 2s; /* Firefox */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera */
            animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}​

.btn {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 300;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.btn:hover,
.btn:focus {
    border: 5px solid #7d7d7d;
    outline: 0;
    color: #7d7d7d;
    
}

.btn-default {
    border: 5px solid #343635;
    color: #343635;
    background-color: transparent;
}

.btn-default:hover,
.btn-default:focus {
    border: 3px solid #1AB1E8;
    outline: 0;
    color: #fff;
    background-color: #1AB1E8;
}

.btn-huge {
    padding: 25px;
    font-size: 26px;
}

.banner-social-buttons {
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    ul.banner-social-buttons>li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons>li:last-child {
        margin-bottom: 0;
    }
}

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: rgba(255,255,255,.2);
}


.overlay {
    z-index: 9999;
    background-color: #fff;
    width: 100%;
    height: 500px;
    position:fixed;
    top:125px;
    right:0px;
}
.tabs {
    font-family:  'Quicksand', sans-serif;
    font-weight: 300; 
    font-size: 55px;
    text-align: center;
    padding-top: 70px;
    color: #ccc;
}

.modal-content  div{
    position: absolute;
    top:0px;
    width:100%;
    background-color: #fff;
    height:500px;
    color: #000;
}
#sli1{z-index: 100;}
#sli2{z-index: 90;}
#sli3{z-index: 80;}
#sli4{z-index: 70;}
#sli5{z-index: 60;}
#sli6{z-index: 50;}
#sli7{z-index: 40;}
#sli8{z-index: 30;}
#sli9{z-index: 20;}

