#link_wrapper {

position: fixed;
top: 50%;
left: 50%;
width: 500px;
margin-left: -250px;
margin-top: -250px;
font-family:  'Quicksand', sans-serif;
font-weight: 300;
padding-left: auto;
padding-right: auto;
height: 500px;
text-align: center;
box-shadow: .3px .3px .3px .3px rgba(0, 0, 0, .2);
}

.link_title {
font-size: 21px;
font-weight: 300;
color: #ccc;
padding: 10px;
}
.link_small_text {
font-size: 18px;
color: #ccc;
}
.congrats {
color: #ccc;
font-family:  'Quicksand', sans-serif;
font-size: 50px;
font-weight: 200;
padding-top: 18px;
display: inline-block;
text-align: center;
}
p {
color: #e64c66;
}