
.hero_target {
    height: 140px;
    background: #fff url(target_logo.png) no-repeat center;
    z-index: 5;
    -webkit-box-shadow: 0px 2px 4px #ccc;
       -moz-box-shadow: 0px 2px 4px #ccc;
            box-shadow: 0px 2px 4px #ccc;
}

.buffer{
	margin-top: 25px;
	padding:20px;
}

.space {
	padding-left: 20px;
	padding-right: 20px;
}