#slider-display {
	float: left;
	margin: 0;
	color: #E64D67;
	font-size: 50px;
	width: 250px;
}
#display-only {
	float: left;
	width: 250px;
	padding-top: 20px;
}
#display-only p {
	margin: 0;
	text-align: center;
}

#slider-container {
	margin: 0 auto;
	padding: 25px 0; /* give that puppy some room outside of the box */
}

.slider-input {
	display: none;
}

.slider-content, .ui-widget-content {
	margin: 0 auto; /*center slider in its container*/
	width: 200px;
	height: 190px;
	background: #fff url(slider-bg.png) no-repeat top left;
	border: none;
}
.ui-slider .ui-slider-handle {
	width: 20px; 
	height: 175px;
	
}

.ui-state-default, .ui-widget-content .ui-state-default {
	background-color: transparent;
	background-image: url(slider.png);
	background-repeat: no-repeat;
	background-position: 0% 0%;
	border: none;
	height: 260px;
}

/* Throw down an alternate image, etc. for default/disabled/out of bounds state. IE6 Fail. */
.ui-slider-handle.is-active {
	background-image: url(slider.png);
}




