a {
	color: #ccc;
}
.hero {
	height: 140px;
	background: #fff url(logo_small.png) no-repeat center;
    z-index: 5;
    -webkit-box-shadow: 0px 2px 4px #ccc;
       -moz-box-shadow: 0px 2px 4px #ccc;
            box-shadow: 0px 2px 4px #ccc;
}

.thankyou {
    color: #ccc;
    font-family:  'Quicksand', sans-serif;
    font-size: 50px;
    font-weight: 200;
    padding-top: 25px;

    display: inline-block;
    text-align: center;
}

.medium_text {
	color: #ccc;
    font-family:  'Quicksand', sans-serif;
    font-size: 18px;
    font-weight: 200;
    display: inline-block;
    text-align: center;
}

.medium_text_red {
    color: #404041;
    font-family:  'Quicksand', sans-serif;
    font-size: 18px;
    font-weight: 400;
    display: inline-block;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.small_text {
    color: #ccc;
    font-family:  'Quicksand', sans-serif;
    font-size: 15px;
    padding-bottom: 20px;
    font-weight: 200;
    display: inline-block;
    text-align: center;
}

.bookmark {
	color: #ccc;
    font-family:  'Quicksand', sans-serif;
    font-size: 18px;
    font-weight: 300;
    padding: 10px;
    margin-top: 25px;
    margin-right: 10px;
    display: inline-block;
    text-align: center;
}

a.button {
    color: #fff;
    background-color: #1AB1E8;
    border: none;
    width: 250px;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
}
a.button:hover {
    background-color: #e83b64;
}