<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.js"></script>
  <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>
  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="favicon64.ico"/>
  <link rel="shortcut icon" href="favicon32.ico"/>
  <link rel="shortcut icon" href="favicon24.ico"/>
  <link rel="shortcut icon" href="favicon16.ico"/>
    
  <title>NYA</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
            <header>
              <% if !current_page?(root_path) %>
                  <a><%= link_to "", root_path, :class => 'tag' %></a>
              <% end %>
                <div data-target=".navbar-custom" class="wrapper">
                <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
                   <div class="container">
                   <div class="navbar-header">
                       <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                      <i class="fa fa-bars"></i>
                      </button>

                   </div>
                        <div class="collapse navbar-collapse navbar-left navbar-main-collapse right" ng-controller="GetStartedCtrl">
                            <ul class="nav navbar-nav">
                                
                                <li class="hidden">
                                   <a href="#page-top"></a> 
                                </li>
                                <li>
                                  <% if @current %>
                                        <a> <%= link_to "Make an invite!", new_campaign_path %></a>
                                    <% else %>
                                        <a><%= link_to "Make an invite!", new_creator_session_path %></a>
                                    <% end %>
                                </li>
                                <li>
                                  <% if @current %>
                                    <li>
                                        <a> <%= link_to "View my Contacts", contacts_path %></a>
                                    </li>
                                    <% else %>
                                    <script type="text/ng-template" id="myModalContent.html">
                                <div class="modal-header">
                                    <h3 class="modal-title">Learn about us!</h3>
                                </div>
                                <div class="modal-body">
                                <p>Have you ever had a hard time getting all of your contacts for an event in a single, <em>easy to access</em> place?</p>
                                </div>
                                <div class="modal-footer">
                                        <button class="btn-warning" ng-click="cancel()">Close</button>
                                </div>
                            </script>
                                        <li ng-click="open('lg')">
                                        <a><%= link_to "Learn about 'Want Your Info'" , '#' %></a>
                                      </li>
                                    <% end %>
                                </li>
                                <li class="page-scroll">
                                    <a><%= link_to "Contact Us", root_path(:anchor => "contact") %></a>
                                </li>
                                <li id="sign-in">
                                    <% if @current %>
                                        <a><%= link_to "Log out", destroy_creator_session_url, :method => :delete %></a>
                                    <% else %>
                                        <a><%= link_to "Log in", new_creator_session_path %></a>
                                    <% end %>
                                </li>
                            </ul>
                        </div>
                        
                    </div>
                    
                </nav>
              </div>
            </header>
<body>

  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>
  <%= yield %>

</body>

</html>
